<h2>Crag: <%= link_to "#{@sector.crag.name}", crag_path(@sector.crag) %></h2>

<h1 id="sector_name"><%= @sector.name %> </h1>
<%= link_to "Edit", edit_crag_sector_path(@sector.crag.id, @sector) %>
<br />

<canvas  id="canvas" width="600" height="600" style="border: 1px solid #000;">
  Your browser does not support canvas element.
</canvas>


<script type="text/javascript" src="/javascripts/zoom.js"></script>
